openapi: 3.0.3
info:
  title: Document Intelligence API
  description: |
    # ViTo Document Intelligence API v1
    
    The Document Intelligence API allows external systems to submit documents for automated processing, including OCR, extraction, and normalization.
    
    ## Authentication
    All requests must include the `x-api-key` header.
    
    ## Environments
    - **Production**: `https://api.vito.ai/document-intelligence/v1`
    - **Sandbox**: `https://api.sandbox.vito.ai/document-intelligence/v1`
  version: 1.0.0
  contact:
    name: ViTo Developer Support
    email: api-support@vito.ai

servers:
  - url: https://api.vito.ai/document-intelligence/v1
    description: Production Server
  - url: https://api.sandbox.vito.ai/document-intelligence/v1
    description: Sandbox Server

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Provide your assigned API Key.

  schemas:
    # Requests
    IngestRequest:
      type: object
      required:
        - file
        - document_profile_id
      properties:
        file:
          type: string
          format: binary
          description: The document file to process (PDF, JPG, PNG, TIFF). Max 50MB.
        document_profile_id:
          type: string
          format: uuid
          description: ID of the Document Profile to apply (defines extraction logic).
        facility_id:
          type: string
          format: uuid
          description: Optional Facility ID for multi-site tenants.
        external_reference:
          type: string
          description: Client-side reference ID for tracking.

    # Responses
    IngestResponse:
      type: object
      properties:
        job_id:
          type: string
          format: uuid
          description: Unique Job ID for tracking status.
        status:
          type: string
          enum: [pending, processing, completed, failed, review_required]
          example: pending
        document_profile_id:
          type: string
          format: uuid
        facility_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time

    JobStatusResponse:
      type: object
      properties:
        job_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [pending, processing, completed, failed, review_required]
        document_profile_id:
          type: string
          format: uuid
        facility_id:
          type: string
          format: uuid
        source:
          type: object
          properties:
            mime_type:
              type: string
            size_bytes:
              type: integer
            signed_url:
              type: string
              description: Temporary generic read URL (if retention policy allows).
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        processed_at:
          type: string
          format: date-time

    ItemsResponse:
      type: object
      properties:
        job_id:
          type: string
          format: uuid
        total:
          type: integer
          description: Total number of items extracted.
        items:
          type: array
          items:
            $ref: '#/components/schemas/ExtractedItem'

    ExtractedItem:
      type: object
      properties:
        item_id:
          type: string
          format: uuid
        item_index:
          type: integer
        item_type:
          type: string
          example: medication
        raw_text:
          type: string
          description: Immutable raw text from OCR.
        normalized_text:
          type: string
          description: Text normalized by business rules.
        ocr_confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
        flags:
          type: object
          additionalProperties:
            type: object
            properties:
              detected:
                type: boolean
              confidence:
                type: number
        evidence:
          type: object
          properties:
            page:
              type: integer
            bbox:
              type: object
              properties:
                x: { type: number }
                y: { type: number }
                width: { type: number }
                height: { type: number }
        structured_data:
          type: object
          description: Domain-specific schema (variable).
        is_reviewed:
          type: boolean
        corrected_text:
          type: string
        reviewed_at:
          type: string
          format: date-time

    # Errors
    ApiError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: INVALID_FILE
            message:
              type: string
              example: File is empty or corrupt.
            trace_id:
              type: string

tags:
  - name: Documents
    description: Document ingestion and status
  - name: Results
    description: Extraction results

security:
  - ApiKeyAuth: []

paths:
  /documents:
    post:
      summary: Ingest Document
      operationId: ingestDocument
      tags: [Documents]
      description: Upload a document for asynchronous processing.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/IngestRequest'
      responses:
        '201':
          description: Job Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestResponse'
        '400':
          description: Invalid Request (Empty file, missing fields)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized (Missing API Key)
        '403':
          description: Forbidden (Insufficient Scope)
        '413':
          description: Payload Too Large (>50MB)
        '415':
          description: Unsupported Media Type

  /documents/{id}:
    get:
      summary: Get Job Status
      operationId: getJobStatus
      tags: [Documents]
      parameters:
        - in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
          description: The Job ID returned by ingestion.
      responses:
        '200':
          description: Job Status found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatusResponse'
        '401':
          description: Unauthorized
        '404':
          description: Job Not Found

  /documents/{id}/items:
    get:
      summary: Get Extracted Items
      operationId: getJobItems
      tags: [Results]
      parameters:
        - in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: Extraction success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemsResponse'
        '401':
          description: Unauthorized
        '404':
          description: Job Not Found
